
/* ==== INICIO ==== */

/* ==== geral estilização da segunda página da sessão adição ==== */

  html,body{
    margin: 0;
    background-image: url(../assets/circle4.svg)  ;
    background-size: 170px ;
    background-repeat: no-repeat;
    background-position: 175% 500px;
    position: relative;
  }
  

 
  .contanerPage{
    display: flex;
    position: relative;
    padding: 20px;
    justify-content: end;
    width: 100%;
    padding-top: 120px;
 
  
  }


/* ==== estilização da paginação ==== */


/* Estilização da div externa */
 .borderCirclePage{
    border: 2px solid var(--detail-color);
    border-radius: 50%;
    padding: 5px;
    margin-right: 5 px;
    
  }

/* Estilização da div interna */
  .borderCirclePage .fillCirclePage{
      background-color: var(--detail-color);
      padding: 12px;
      border-radius: 50%;
  }

  /* Estilização do conteúdo da paginação */
  .fillCirclePage .numberPage{
    font-family: var(--titulos);
    font-size: 1.12rem;
  }




/* Estlizando o campo da imagem e edição da imagem */
.imagemConta{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.imagemConta img{
  width: 280px;

}

.imagemConta #camera{
  position: absolute;
  left: 75%;
  bottom: -10%;
  padding: 2px;
  font-size: 30px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--detail-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


} 

/* ==== Estilização do forms da primeira pagina de adicionar ==== */

/* Estilização do forms da primeira pagina de adicionar geral */

.wrapper {
    margin-top: 30px;
    font-size: 0.7rem;
  }
  
  /* Estilização das medidas dos inputs */
  .wrapper .input-box {
    position: relative;
    width: 75%;
    height: 40px;
    margin: 30px auto;
  }
  
  /* Estilização do conteúdo interno dos inputs */
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 0.9rem;
    color: var(--text-color-dark);
    padding: 20px 45px 18px 20px;
    outline: none;
    border: 1px solid var(--text-color-soft);
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }



  /* Estilização do placeholder */
  .input-box input::placeholder {
    color: var(--text-color-soft);
  }


    /* Foco enquanto esta no input */
    .input-box input:focus {
      border: 2px solid var(--detail-color);
    }
  
    
    
/* Estilização dos grupos de inputs do forms */
  .groupEdit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
  }


  /* Sessão das prioridades */

  .prioritySection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;    
    margin-top: 50px;
  }

  
  .groupPriority{
    position: relative;
    padding: 10px;
    width: 25%;
    background-color: var(--primary-color);
    text-align: start;
    border-radius: 5px;
    border: 1px solid var(--text-color-soft);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .groupPriority.active{
    border: 2px solid var(--detail-color);
    background-color: var(--preenchimento-color);
}


  .groupPriority p{
    font-family: var(--titulos);
    font-size: .8rem;
    
  }

  

.priorityMark{
  width: 20px;
  height: 28px;
  position: absolute;
  top:0;
  right: 0;
  margin-right: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
  
.priorityMark.red{
  background-color: #E57435;
}

.priorityMark.yellow{
  background-color: #E4A400;
}

.priorityMark.green{
  background-color: #D2BE57;
}




  /* Estilização dos botoes inferiores*/

  .btnDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
  }


 .btn{
   padding: 10px 20px;
   border-radius: 8px;
   font-family: var(--titulos);
 }

 .btn{
    font-size: .9rem;
 }

  .btnBorder{
    border: 2px solid var(--detail-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }



  .btnFull{
    background-color: var(--detail-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }





  /* ==== Responsividade ==== */

    /* ==== FIM ==== */