/* ==== INICIO ==== */

/*====  Estilização geral da sessão capa ===== */
html,body{
    margin: 0;
    background-image: url(../assets/img/circle6.svg),url(../assets/img/circle4.svg) , url(../assets/img/circle4.svg) ;
    background-size: 220px,90px , 220px;
    background-repeat: no-repeat;
    background-position: 100% -40px  ,-25% 240px, 265% 500px; 
  }




/*====  Estilização do conteúdo ===== */
.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  


/*====  Estilização da área de retorno para a página inicial ===== */

.back{
    width: 100%;
    position: relative;
}

/* Icone de voltar */
.back .bi-arrow-left-circle{
  display: block;
  position: absolute;
  font-size: 40px;
  border-bottom-right-radius: 8px;
  top: 0;
  left: 0;
  padding: 30px 20px 40px;
  
}



/*logo da aplicação */

.logoSecundaryPage{
    font-size: 50px;
    text-align: end;
    padding-bottom: 40px;
    padding-right: 10px;

     

}


/* 
/* ==== area principal cadastro ==== */

/* .mainCadastro{
    margin-top: 0px;
} */ 


/* Imagem da área de cadastro */

.imgCadastro{
 width: 300px;
}

/* ==== Estilização do forms da pagina de cadastro ==== */

/* Estilização do forms da pagina de cadastro */
.wrapper {
    font-size: 0.7rem;
  }
  
  /* Estilização das medidas dos inputs */
  .wrapper .input-box {
    position: relative;
    width: 90%;
    height: 40px;
    margin: 40px auto;
  }

/* tira o background cinza padrão do campo preenchido automaticamente */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--primary-color) inset !important;
}

  /* Estilização do conteúdo interno dos inputs */
  .input-box input {
    width: 100%;
    height: 100%;
    background: none;
    font-size: 0.9rem;
    color: var(--text-color-dark);
    padding: 20px 45px 18px 20px;
    outline: none;
    border: 1px solid var(--text-color-soft);
    border-radius: 5px;
    margin-bottom: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

   .input-box label{
    font-size: .8rem;
   }

   .input-box label b{
    color: var(--detail-variation-dark);
   }

  /* estilização de foco */
  .input-box input:focus {
    border: 2px solid var(--detail-color);
  }
  
  /* Estilização do placeholder */
  .input-box input::placeholder {
    color: var(--text-color-soft);
  }
  

  /* Estilização dos icones dos inputs */
  .input-box i {
    position: absolute;
    right: 0;
    padding-right: 20px;
    top:40px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--text-color-soft);
  }


/* Estilização geral do botão de entrada  */
.wrapper .btnDiv {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
}

/* Estilização do conteúdo do botão de entrada  */
.wrapper .btn {
  margin-top: 20px;
  width: 40%;
  font-weight: 600;
  padding-bottom: 5px;
  height: 35px;
  background: var(--detail-color);
  color: var(--text-color-dark);
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
}


 /* Estilização das mensagens de erros: Validação */
 .input-box a{
  padding-left: 10px;
  font-family: var(--titulos);
  font-weight: 600;
  font-size: .7rem;
   visibility: hidden;  
 
}

/* Aplicados quando é exibido o erro */
.input-box.error input{
  border-color: var(--detail-variation-dark);
}

.input-box.error a{
  color: var(--detail-variation-dark);
  visibility: visible;
}
 


/* Estilização de entrada via alternativa geral */
  .alternativeAccessDiv {
    margin: 20px auto;
    width: 80%;
  }
  
  /* Estilização do grupo de icones da entrada alternativa */
  .alternativeAccessDiv .secundaryAccess {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .secundaryAccess li a img {
    width: 80%;
    
  }
  
  /* aumenta um pouco o tamanho dos icones : Funcional em Desktop */
  .secundaryAccess li:hover {
    transform: scale(1.1);
    background-position: -60px;
  }
  
  /* texto dos icones no acesso alternativo*/
  .alternativeAccessDiv p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    
  }
  
  /* ==== Estilização da area de primeiro acesso que leva à página de cadastro ==== */
  .firstAccessDiv{
    display:flex ;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    padding-top: 20px;
    color: var(--text-color-dark);
    text-decoration: underline;
    color: #EB9B15;
    font-family: var(--titulos);
    font-weight: 600;
  }
  
  /* ==== Responsividade ==== */
  
   /* ==== FIM ==== */
  