/*====  Estilização geral da sessão capa ===== */

html,body{
  margin: 0;
  background-image: url(../assets/circle5.svg) , url(../assets/circle2.svg), url(../assets/circle3.svg) ;
  background-size: 490px , 80px, 100px;
  background-repeat: no-repeat;
  background-position: 50% 0px, 100% 600px, -30% 500px; 
}



/*====  Estilização do conteúdo ===== */

.capa {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99999;

}


/* Estilização da logo */
.logoTitle{
  color: var(--color-logo);
  text-align: center;
  font-family: var(--titulos);
  font-size:3.75rem ;
  padding-top: 100px;
}





/* Estilização do subtitulo */
.subtitulo {
  margin-top: 10px;
  font-family: var(--textos);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-texto);
  font-family: var(--titulos);
  animation-name: slide;
  animation-duration: 3s;
  transition: .5s;
}


/* animação do subtitulo */

@keyframes slide{
  from{
    margin-right: 10%;
    width: 180%;
  }

  to{
    margin-right: -10%;
    width: 90%;
  }
}



/* Estilização  do formulario (conteúdos principais) */
.mainCapa {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}



/* Estilização da imagem da capa*/
.divImagemCapa {
  display: flex;
  justify-content: center;
  width: 100%;
}



/* ==== Estilização do forms da pagina inicial ==== */

/* Estilização do forms da pagina inicial */

.wrapper {
  margin-top: 50px;
  font-size: 0.7rem;
}


/* Estilização das medidas dos inputs */
.wrapper .input-box {
  position: relative;
  width: 90%;
  height: 40px;
  margin: 20px auto;
}

/* Estilização do conteúdo interno dos inputs */
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 0.9rem;
  font-family: var(--titulos);
  color: var(--text-color-dark);
  padding: 20px 45px 18px 20px;
  outline: none;
  border: 1px solid var(--text-color-soft);
  border-radius: 5px;
}

/* Estilização de foco duncional para desktop */
.input-box input:focus {
  border: 2px solid var(--detail-color);
}

/* Estilização do placeholder */
.input-box input::placeholder {
  color: var(--text-color-soft);
}

/* Estilização dos icones dos inputs */
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--text-color-soft);
}


/* Estilização da área: Lembrar */
.wrapper .remember-forgot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3px 0px 0px;
}

.rememberPassword{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5px;
}


.remember-forgot label input {
  accent-color: var(--text-color-dark);

}

.remember-forgot a {
  color: var(--text-color-dark);
  text-decoration: none;
  padding-top: 2px;
  text-decoration: underline;
  font-size: .7rem;

}

/* Botão da área lembrar */
#check{
  display: none;
}

.switch{
  position: relative;
  background-color:var(--text-color-soft);
  width: 45px;
  height: 25px;
  display: flex;
  transition: all .5s ease-in-out;
  border-radius: 40px;
  cursor: pointer;
}

.slider{
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 50%;
  bottom: 2px;
  width: 20px;
  height: 20px;
  transition: all .5s ease-in-out;
}

#check:checked ~ .switch{
  background-color: var(--detail-color);
}

#check:checked ~ .switch .slider{
 transform: translateX(30px);
}

/* Estilização geral do botão de entrada  */
.wrapper .btnDiv {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 28px;
}

/* Estilização do conteúdo do botão de entrada  */
.wrapper .btn {
  margin-top: 20px;
  width: 55%;
  height: 35px;
  background: var(--detail-color);
  color: var(--text-color-dark);
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 6px;
  text-decoration: none;
}


/* Estilização de entrada via alternativa geral */
.alternativeAccessDiv {
  margin: 40px auto;
  width: 80%;
}

/* Estilização do grupo de icones da entrada alternativa */
.alternativeAccessDiv .secundaryAccess {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.secundaryAccess li a img {
  width: 80%;
  
}

/* aumenta um pouco o tamanho dos icones : Funcional em Desktop */
.secundaryAccess li:hover {
  transform: scale(1.1);
  background-position: -60px;
}

/* texto dos icones no acesso alternativo*/
.alternativeAccessDiv p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  
}

/* ==== Estilização da area de primeiro acesso que leva à página de cadastro ==== */
.firstAccessDiv{
  display:flex ;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 50px;
  margin-bottom: 20px;
  color: var(--text-color-dark);
  text-decoration: underline;
  color: var( --color-logo);
  font-family: var(--titulos);
  font-weight: 600;
}




/* ==== Responsividade ==== */

@media (min-width: 700px) {

  
/* conteúdo capa*/
  .mainCapa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
    width: 96vw;
  }

  /* Sessão da imagem da capa*/
  .divImagemCapa {
    display: flex;
    justify-content: center;
    width: 150%;
  }

   /* imagem da capa*/
  .imgCapa {
    width: 100%;
  }

  /* texto do subtitulo */
  .subtitulo {
    font-size: 1.5rem;
  }

  /* Formulario:Geral */
  .wrapper {
    margin-top: 20px;
    font-size: 0.7rem;
    width: 100%;
  }


  .secundaryAccess li a img {
    width: 90%;
    text-align: center;
  }


  /* Estilização do subtitulo */
.subtitulo {
  animation-name: none;
  animation-duration: none;
  transition: none;
}

}


@media (min-width: 1200px){

 /* capa geral */
  .capa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* titulo da logo */
  .logoTitle{
    color: #EFA40F;
    font-family: var(--titulos);
    font-size:3.75rem ;
  }
     

  
  /*  imagem da capa*/
  .divImagemCapa {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  
  
  /* formulario da capa */
  
  .wrapper .input-box {
    position: relative;
    width: 68%;
    height: 40px;
    margin: 10px auto;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 0.9rem;
    color: var(--text-color-dark);
    padding: 20px 45px 18px 20px;
    outline: none;
    border: 1px solid var(--text-color-soft);
    border-radius: 5px;
  }
  
  .input-box input:focus {
    border: 2px solid var(--detail-color);
  }
  
  .input-box input::placeholder {
    color: var(--text-color-soft);
  }
  
  /* icones dos inputs */
  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--text-color-soft);
  }
  
  
  /* Area: Lembrar */
  .wrapper .remember-forgot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px 0px 0px;
    font-size: .85rem;
  }
  
  .rememberPassword{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
  }
  
  
  .remember-forgot label input {
    accent-color: var(--text-color-dark);
  
  }
  
  .remember-forgot a {
    color: var(--text-color-dark);
    text-decoration: none;
    padding-top: 2px;
    text-decoration: underline;
  
  }
  
  
  /*Botão de entrada  */
  .wrapper .btnDiv {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 80px;
  }
  
  .wrapper .btn {
    margin-top: 20px;
    width: 30%;
    padding: 30px;
    background: var(--detail-color);
    color: var(--text-color-dark);
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
  }
  
   
  .wrapper .btn:hover {
   background-color: var(--primary-color);
   border: 3px solid var(--detail-color);
   border-radius: 8px;
    color: var(--detail-color);
  }
  
  /* Entrada via alternativa */
  .alternativeAccessDiv {
    margin: 60px auto;
    width: 80%;
  }
  
  
  .secundaryAccess li a img {
    width: 100%;
    
  }
  

  .alternativeAccessDiv p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    
  }

  /* primeiro acesso */
  
  .firstAccessDiv{
    display:flex ;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    padding-top: 100px;
    color: var(--text-color-dark);
    text-decoration: underline;
    color: #EB9B15;
    font-family: var(--titulos);
    font-weight: 600;
  }

}

/* ==== FIM ==== */