/* Configuração estilização conteúdo principal*/

.contaner-Config {
  padding: 40px 15px;
}

/* Configuração estilização cabecalhos */

.configCabecalho {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  justify-content: flex-start;
  width: 300px;
  margin: 0 auto;
}

/* Estilização imagens dos cabecalhos */
.configCabecalho img {
  width: 50px;
}

.configCabecalho h3 {
  font-size: 0.9rem;
}

/* Estilização do formulário */
.wrapper-config {
  font-size: 0.7rem;
  margin-top: 30px;
  width: 300px;
  margin: 0 auto;
}

.wrapper-config .input-box-config {
  position: relative;
  width: 100%;
  height: 50px;
  padding-bottom: 50px;
  margin: 10px auto;
}

.input-box-config input {
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 0.9rem;
  color: var(--color-barrasEbotoes);
  padding: 20px 45px 18px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-barrasEbotoes);
}

.input-box-config .inputFix {
  background-color: var(--color-bg-fixed);
  border-radius: 3px;
  color: var(--color-text-fixed);
  font-weight: 600;
}

.input-box-config label {
  font-size: 0.7rem;
  color: var(--color-barrasEbotoes);
}

.input-box-config input::placeholder {
  color: var(--color-barrasEbotoes);
}

/* configuração de notificação */

.checkNotification {
  padding: 20px;
  margin: 30px auto;
  padding: 0px;
  width: 300px;
}

.checkNotification label input {
  accent-color: var(--color-barrasEbotoes);
  margin-right: 3px;
}

.checkNotification label {
  font-size: 0.8rem;
}

.checkNotification a {
  color: var(--color-barrasEbotoes);
  text-decoration: none;
}

.checkNotification .check {
  margin: 10px 0px 20px 20px;
}

.escolhaNotificao {
  text-align: start;
  padding-left: 20px;
  margin-bottom: 45px;
}

.escolhaNotificao .momentosNotificacao {
  padding: 4px;
}

.momentosNotificacao {
  background-color: var(--color-principal);
  color: var(--color-barrasEbotoes);
  border-radius: 5px;
}

.momentosNotificacao {
  color: var(--color-barrasEbotoes);
}

/* estilização dos botões */
.btnDivConfig {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  width: 300px;
  margin: 0 auto;
}

.btn-config {
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  border: none;
}

.btnConfirm-config {
  background-color: var(--color-barrasEbotoes);
  color: var(--color-principal);
  transform: 0.3s;
}

.btnConfirm-config:hover {
  background-color: var(--color-detalhes);
  color: var(--color-barrasEbotoes);
  font-weight: 600;
}

.btnRefazer-config {
  background-color: var(--color-principal);
  border: 1px solid var(--color-barrasEbotoes);
}

@media (min-width: 1128px) {
  .configCabecalho {
    width: 400px;
  }

  .configCabecalho img {
    width: 60px;
  }

  .configCabecalho h3 {
    font-size: 1.2rem;
  }

  .wrapper-config {
    font-size: 0.7rem;
    margin-top: 30px;
    width: 500px;
    margin: 0 auto;
  }

  .checkNotification {
    width: 350px;
  }

  .checkNotification label {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .configCabecalho {
    width: 600px;
  }

  .configCabecalho img {
    width: 65px;
  }

  .configCabecalho h3 {
    font-size: 1.5rem;
  }

  .wrapper-config {
    font-size: 0.8rem;
    margin-top: 30px;
    width: 500px;
    margin: 0 auto;
  }

  .wrapper-config label {
    font-size: 0.86rem;
  }

  .wrapper-config .input-box-config {
    margin-bottom: 30px;
  }

  .checkNotification {
    width: 500px;
  }

  .checkNotification label {
    font-size: 1.2rem;
  }

  .btnDivConfig {
    width: 500px;
  }

  .btn-config {
    width: 200px;
    font-size: 1.3rem;
  }
}
