
/* Estilização corpo principal */
.contaner-Pag {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  gap: 30px;
}

/* Estilização da sessão contas pagas */
.atrasadasSection{
  background-color: var(--color-principal);
  box-shadow: 0px 4px 4px 5px #00000040;
  width: 300px;
  padding: 0px 20px 0px;
}

.mesAtrasado {
  background-color: var(--color-topic-mes);
  width: max-content;
  padding: 10px 10px 0;
  font-size: 1rem;
  margin-bottom: 20px;
}

.mes h3{
  font-size: 1rem;
  color: var(--color-text);
  font-family: var(--textos);
}


.groupEndButtons{
  display: flex;
  font-size: 1.3rem;
  height: 20px;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
}

.pagAtrasado {
  margin-bottom: 20px;
  padding-left: 10px;
}

.pag h4 {
  margin-bottom: 15px;
}

.pag li {
  padding-bottom: 10px;
  color: var(--color-text);
}

.fa-x {
  color: var(--color-detalhes);
}

span {
  color: var(--color-configuracao);
}

/* Estilizção dos cards de contas pagas */

.cabecalhoCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloContasPagas {
  border-left: 10px solid var(--color-contasPagas);
  display: flex;
  height: 20px;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  font-weight: .8rem;
  
}


.atrasadasSection.active{
  height: 250px;  
}



.bi-x-circle{
  font-size: 1.5rem;
  color: var(--color-barrasEbotoes);
  left: 0;
  bottom: 0;
  padding: 50px 0px 5px 10px;
 
}

#arrowPag{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  background-color:var(--color-light-alert);
  padding: 5px;
  border-bottom-left-radius: 8px;
}



 

@media (min-width: 700px) {
  .pagasSection {
    background-color: var(--color-principal);
    box-shadow: 0px 4px 4px 5px #00000040;
    width: 300px;
    padding: 0px 20px 20px;
    width: 450px;
  }

  /* Estilizção dos cards de contas pagas */

  .cabecalhoCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tituloContasPagas {
    border-left: 10px solid var(--color-contasPagas);
    display: flex;
    font-size: 1.3rem;
    height: 20px;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
  }

  .contasPagasIcone {
    width: 100px;
  }
}

@media (min-width: 1080px) {
  .contaner-Pag {
    margin-top: 150px;
  }

  .pagasSection {
    width: 1000px;
  }

  .mes {
    font-size: 1.6rem;
  }

  .pag {
    margin-bottom: 40px;
    padding: 0px 50px 0px 0px;
  }

  .pag h4 {
    margin-bottom: 15px;
    font-size: 1.3rem;
  }

  .pag li {
    padding-bottom: 10px;
    font-size: 1.3rem;
  }

  .fa-x {
    font-size: 20px;
    color: var(--color-detalhes);
  }

  span {
    color: var(--color-configuracao);
  }

  /* Estilizção dos cards de contas pagas */

  .cabecalhoCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tituloContasPagas {
    border-left: 20px solid var(--color-contasPagas);
    display: flex;
    font-size: 1.9rem;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 30px;
  }

  .contasPagasIcone {
    width: 200px;
  }
}
