
html,body{
    margin: 0;
    background-image: url(../assets/circle.svg) , url(../assets/circle4.svg), url(../assets/circle4.svg) ;
    background-size: 80px , 280px , 40px;
    background-repeat: no-repeat;
    background-position: 0% 56px, 250% 520px, 30% 520px ; 
    position: relative;
  }
  

 .mainPagas{
    margin-top: 150px;
 }
  