/* Fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Cores e fontes selecionadas */
/* Estilização corpo principal */

:root {
  --primary-color: #EDE9DD;
  --white-color: #ffff;
  --detail-color: #EFA40F;
  --preenchimento-color: #e9e8e7;
  --color-logo: #000000;
  --detail-variation-dark:#ce7c01;
  --gradient-color-orange: linear-gradient(98deg, #EB9B15 1.78%, #F6B704 87.54%);
  --gradient-color-orange-soft: linear-gradient(98deg, #EB9B15 1.78%, #F6B704 87.54%);
  --text-color-dark: #100f0f;
  --text-color-soft: #201f1f;
  --blocked-field:#ebe0ce;
  --blocked-field-board:#BCB8B2;
  
 

  --titulos: "Urbanist", sans-serif;
  --textos: "Open Sans", sans-serif;
}


/* Estilização geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--textos);
}

/* Estilização do corpo */



html, body {
  margin: 20px 0px;
  font-family: var(--textos);
  background-color: var(--primary-color);
}


