/* ====INICIO==== */

/* Estilização do macro da capa */
.contaner {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  margin: 40px auto;
 
}

/* ==== Estilização do perfilHome ==== */

.imgPerfilDiv{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 16px;
  color: var(--color-text);
  margin-top: 70px;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  background-image: url(../assets/img/circle4.svg);
  background-repeat: no-repeat;
  background-position: 40% 10px;
  background-size: 140px;
}

/* Estilização da iamgem do perfil */
.imgPerfil{
  width: 130px;
  height: 130px; 
  border-radius: 50%; 
  object-fit: cover;
  
}




/* Botão de editar div externa */
.btnLink{
  margin-top: 15px;
}

 /* Botão de editar conteúdo */
.btnEditar i{
  position: absolute;
  padding: 5px 10px;
  font-size: 1.3rem;
  border-radius: 50%;
  top: 110px;
  right: 70px;
  background-color: var(--detail-color); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

} 


/*==== lembretes adicionados ==== */



/* estilização da borda da sessão notificação */
.borderNotification{
  border: 3px solid var(--detail-color);
  border-radius: 8px;
  width: 300px;
  
}


/* estilização da div interna de notificações adicionadas */
.borderNotification .notificationAdded{
 width: 90%;
 margin: 10px auto; 
 background-color: #EB9B15;
 padding: 40px 20px ;
 display: flex;
 justify-content: space-between;
 position: relative;
 align-items: center;
 border-radius: 8px;
 
}

/* estilização conteúdo de notificações adicionadas */

.notificationAdded .lembreteAdd{
  position: absolute;
  right: 0;
  top: 10px;
  padding: 20px 15px  0px 0px;
  width: 55px;
}

/* estilização do texto de notificações adicionadas */
.notificationAdded .textAdd{
  width: 60px;
  font-size: 1.25rem;
  font-family: var(--titulos);

}


/* estilização do número em notificações adicionadas */
.lembreteNumber{
  font-size: 45px;
  font-weight: 600;
  color: var(--text-color-dark);
  padding-right: 33px;
  z-index: 1;

}


/* ==== Estilização para os topicos da sessão acessar novas notificações, contas pagas e contas atrasadas ==== */

.cardsSessao{
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
  width: 300px;
}


/* Estilização das imagens da sessão acessar novas notificações, contas pagas e contas atrasadas */
.cardContaner img{
 width: 80px;
 height: 80px;
 padding: 0px 8px;
 display: block;
 margin: 0 auto;

}

/* Estilização dos textos da sessão acessar novas notificações, contas pagas e contas atrasadas  */
.cardContaner p{
  text-align: center;
  font-size: .8rem;

}



/* ==== Cards notificações ativas (Carrosel) ==== */

/* estilização do título da sessão */
.textTitle{
  font-family: var(--titulos);
  font-weight: 400px; 
  font-size: 1.25rem;
  margin-bottom: 5px;
}


/* Carrosel */

/* estilização geral externa do carrosel */
.wrapper { 
  max-width: 1100px; 
  width: 100%; 
  margin-bottom: 10px;
  position: relative; 
} 

/* estilização do carrosel */
.wrapper .carousel { 
  display: grid; 
  grid-auto-flow: column; 
  grid-auto-columns: calc((100% / 3) - 12px); 
  gap: 16px; 
  overflow-x: auto; 
  scroll-behavior: smooth; 
  height: 40px;
} 

/* Retirar o scroll */
.carousel::-webkit-scrollbar { 
  display: none; 
} 


/* permite o alinhamento vertical e horizontalmente no centro do contêiner do carrossel.Permite o alinhamento */
.carousel :where(.card, .img) { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 

/* remove o efeito de "scroll-snap", que normalmente faz com que o carrossel se desloque para a próxima imagem ou cartão assim que o usuário parar de arrastar */
.carousel.dragging { 
  scroll-snap-type: none; 
  scroll-behavior: auto; 
} 

.carousel.no-transition { 
  scroll-behavior: auto; 
} 

/* altera o cursor para mãozinha quando arrastado (Visão PC) */
.carousel.dragging .card { 
  cursor: grab; 
  user-select: none; 
} 

/* Estilização de cada card do carrosel */
.carousel .card { 
  height:240px; 
  background: var(--primary-color);
  border: 3px solid var(--detail-color);
  border-radius: 8px; 
  display: flex; 
  cursor: pointer; 
  width: 98%; 
  padding-bottom: 180px;
  padding-left: 10px; 
  align-items: flex-start; 
  flex-direction: column; 
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}  




/* Estilização da div externa de titulos aparentes de cada card do carrosel */
.tituloCard{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 50px;
  
}

/* Estilização do titulo aparentes de cada card*/
.tituloCard p { 
  font-weight: 500; 
  font-size: .9rem;
  margin-top: 120px;
  font-family: var(--titulos);
}

.card .infosCard{
  width: 98%;
  position: relative;
  
}

/* Estilização dos tópicos de cada card no carrosel*/
.card li { 
  font-weight: 500; 
  font-size: .8rem; 
  margin: 20px 0 5px; 
  font-size: .9rem;
  
} 

/* Estilização dos textos em destaques de cada card no carrosel*/
.card span { 
  color:var(--detail-variation-dark); 
  font-size: .8rem; 
  font-weight: 600;
  font-size: .9rem;
}


/* Ação de abrir card ativa com JS */

.card.active{
  height: 60px;
  padding-bottom: 0px;  
} 
 
/* tamanho da div esterna do card ativa com o JS */
.carousel.active{
  height: auto;
}

.ArrowDown{
 display: flex;
 width: 100%;
 background-color: #EB9B15;
}


.markColor{
  width: 30px;
  height: 60px;
  position: absolute;
  bottom: 4px;
  right: 60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
}

.markColor.red{
  background-color: #E57435 ;
}

.markColor.yellow{
  background-color: #E4A400 ;
}

.markColor.green{
  background-color: #D2BE57 ;
}



/* Estilização do icone de seta */
.btnSeta{
  position: absolute;
  font-size: 1.5rem;
  color: var(--text-color-dark);
  right: 0;
  bottom: 0;
  padding: 8px 10px;
  border-bottom-left-radius: 8px;
  background-color: var(--detail-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}








.groupArquivo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.btnArquivo{
  position: absolute;
  bottom: -5;
  right: 0;
  background-color: var(--detail-color);
  border: none;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 5px;
  font-family: var(--titulos);
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

/* Area de botoes na sessão final de cada card do carrosel */
.groupEndButtons{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px 5px 10px;
  width: 100%;
}


/* Estilização da div externa icone exit */
.exitIcon{
  width: 30%;
  margin-top: 50px;
 
}


/* Estilização do icone exit */
.bi-x-circle{
  position: absolute;
  font-size: 1.5rem;
  padding: 4px 8px;
  font-weight: 600;
  bottom: 0;
  left: 0;
  background-color: var(--detail-color);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

/* Estilização do botão 'Ta Pago' */
.btnTapago{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--detail-color);
  border: none;
  padding: 8px 16px;
  margin-right: 5px;
  border-radius: 5px;
  font-family: var(--titulos);
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}







/* ==== Responsividade ==== */

@media(max-width: 900px) { 
  
  /* Tamanho/quantidades dos cards no carrosel */
  
  .wrapper .carousel { 
      grid-auto-columns: calc((100% / 3) - 9px); 
      
        
  } 
} 

@media(max-width: 600px) { 
  
  
  /* Tamanho/quantidades dos cards no carrosel */
  .wrapper .carousel { 
      grid-auto-columns: 60%; 

  } 
}
    
@media(max-width: 320px) { 
  
  
  /* Tamanho/quantidades dos cards no carrosel */
  .wrapper .carousel { 
      grid-auto-columns: 70%; 

  } 
}

/* ==== FIM ==== */