.mainPerfil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    padding-top: 30px;
    /* background-image: url(../assets/img/circle4.svg);    
    background-repeat: no-repeat;
    background-size: 780px;
    background-position: 90% -560px; */

}


.imgPerfilDiv{
    width: 100%;
    display: flex;                            
    flex-direction: column;
    align-items: center;
    position: relative;
}


.bi-arrow-left-circle{
    position: absolute;
    left: 0;
    top: -20px;
    padding: 25px;
    font-size: 30px;
}



/* foto do perfil */

.editImg{
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

#camera{
    position: absolute;
    left: 75%;
    bottom: 0%;
    padding: 2px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--detail-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 


.imgPerfil{
    margin-top: 20px;
    width: 140px;
    height: 140px;
}



/* formulario */
/* Estilização do forms da pagina de cadastro */
.wrapper {
    font-size: 0.7rem;
  }
  
  /* Estilização das medidas dos inputs */
  .wrapper .input-box {
    position: relative;
    width: 90%;
    height: 40px;
    margin: 40px auto;
  }

/* tira o background cinza padrão do campo preenchido automaticamente */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--primary-color) inset !important;
}

  /* Estilização do conteúdo interno dos inputs */
  .input-box input {
    width: 100%;
    height: 100%;
    background: none;
    font-size: 0.9rem;
    color: var(--text-color-dark);
    background-color: var(--blocked-field);
    padding: 20px 45px 18px 20px;
    outline: none;
    border: 1px solid var(--text-color-soft);
    border-radius: 5px;
    margin-bottom: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
   .input-box label{
    font-size: .8rem;
   }

   .input-box label b{
    color: var(--detail-variation-dark);
   }

  /* estilização de foco
  .input-box input:focus {
    border: 2px solid var(--detail-color);
  } */
  
  /* Estilização do placeholder */
  .input-box input::placeholder {
    color: var(--text-color-soft);
  }
  

  /* Estilização dos icones dos inputs */
  .input-box i {
    position: absolute;
    right: 0;
    padding-right: 20px;
    top:40px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--text-color-soft);
  }


/* Estilização geral do botão de entrada  */
.wrapper .btnDiv {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
}

/* Estilização do conteúdo do botão de entrada  */
.wrapper .btn {
  margin-top: 20px;
  width: 50%;
  padding: 0px 10px;
  font-weight: 600;
  height: 35px;
  background: var(--detail-color);
  color: var(--text-color-dark);
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
}



/* Estilização de entrada via alternativa geral */
  .alternativeAccessDiv {
    margin: 40px auto;
    width: 80%;
  }
  
  /* Estilização do grupo de icones da entrada alternativa */
  .alternativeAccessDiv .secundaryAccess {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .secundaryAccess li a img {
    width: 40px;
    height: 40px;
    
  }
  
  /* aumenta um pouco o tamanho dos icones : Funcional em Desktop */
  .secundaryAccess li:hover {
    transform: scale(1.1);
    background-position: -60px;
  }
  
  /* texto dos icones no acesso alternativo*/
  .alternativeAccessDiv p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    
  }
  
  /* sair do aplicativo */

  .exit .exitLink{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--detail-color);
    padding:  10px 26px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: .9rem;
    font-weight: 800;
    
  }

  .exit .exitLink i{
    font-size: 20px;
  }